<!-- <ng-progress></ng-progress> -->
<!-- <h1>My Goals</h1>
<div class="container"> -->

    <!-- <div class="row">
        <blockuser class="text-center text-lg">
            <p>{{users.login}}</p>
            <footer><cite>{{users.followers}}</cite></footer>
        </blockuser>
    </div>
    
</div> -->
<!-- <app-search-form></app-search-form> -->
<div class="container">
<div class="all">
<div class="input-form">
    <input [(ngModel)] = "userName" placeholder="search...">
    
    <button (click)="submitInput()">Search</button>
    </div>
<br>
<p><img src={{user.avatar_url}}></p>
<p appStrikethrough><b>Name:</b> {{user.name}}, added on {{user.completeDate|date}}<br> &nbsp;{{user.completeDate|dateCount}} days passed</p>
<p appStrikethrough><b>Followers:</b> {{user.followers}}, added on {{user.completeDate|date}}<br> &nbsp;{{user.completeDate|dateCount}} days passed</p>
<p appStrikethrough><b>Following:</b> {{user.following}}, added on {{user.completeDate|date}}<br> &nbsp;{{user.completeDate|dateCount}} days passed</p>
<p appStrikethrough><b>Public repositories:</b> {{user.public_repos}}, added on {{user.completeDate|date}}<br> &nbsp;{{user.completeDate|dateCount}} days passed</p>
<p appStrikethrough><b>location:</b> {{user.location}}, added on {{user.completeDate|date}} <br>&nbsp;{{user.completeDate|dateCount}} days passed</p>
</div>

</div>